@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * DO NOT USE THIS CLASS UNDER ANY CIRCUMSTANCES.
 * DO NOT TOUCH THIS CLASS.
 * IF YOU REMOVE THIS CLASS, EVERYTHING BREAKS.
*/
.conrad {
	width: calc("awesomeness + swag") !important;
}

@layer base {
	@font-face {
		font-family: "3x5";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/3-by-5-pixel-font.woff2) format("woff2");
	}
}
